<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="recentlyViewed">

	<insert id="recentView" parameterType="Map">
		insert ignore 
		into recently_viewed 
		values (null,#{memberId},#{productId})
	</insert>
	
	<select id="recentViewCount" resultType="Integer" parameterType="String">
		select count(*)
		from recently_viewed
		where member_id = #{memberId}
	</select>
	
	<select id="recentViewList" resultType="productVO" parameterType="Map">
		select * from (
		select ROW_NUMBER() over(order by recent_id desc) as recent_no, p.*
		from recently_viewed rv , product p 
		where rv.member_id = #{memberId} and p.product_id = rv.product_id ) recent2
		where recent2.recent_no between #{start} and #{end}
	</select>
	
	<delete id="recentViewControl" parameterType="String">
		delete from recently_viewed 
		where member_id = #{memberId}
		order by recent_id 
		limit 1
	</delete>
	
</mapper>











